<li id="story-<%= story.id %>">
  <%= link_to gravatar_for(story.user, size: 50), story.user %>
  <span class="user"><%= link_to story.user.name, story.user %></span>
  <span class="title"><%= story.title %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(story.created_at) %> ago.
  </span>
</li>